graft debian
graft doc
graft linuxcnc-demo-dummyphy
graft linuxcnc-demo-et200s
graft phy_fpga
graft tests

include COPYING
include README.md
include dummy.gsd
include example_*.conf
include example_*.py

prune ./build
prune build
