graft debian
graft doc
graft linuxcnc-demo-dummyphy
graft linuxcnc-demo-et200s
graft misc
graft phy_fpga
graft tests

include COPYING
include README.html
include README.md
include example_*.conf
include example_*.py

prune ./build
prune build

global-exclude *.pyo *.pyc __pycache__ *$py.class
