Source: pyprofibus
Maintainer: Michael Buesch <m@bues.ch>
Section: python
Priority: optional
Build-Depends: dh-python,
               python-all-dev (>= 2.7.0),
               python-setuptools,
               python3-all-dev (>= 3.4.2-2),
               python3-setuptools,
               pypy,
               pypy-setuptools,
               debhelper (>= 9)
Standards-Version: 3.9.6
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Vcs-Git: git://git.bues.ch/pyprofibus.git
Vcs-Browser: https://bues.ch/gitweb?p=pyprofibus.git
Homepage: https://bues.ch/a/profibus


Package: python-pyprofibus
Architecture: any
Depends: ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: PROFIBUS-DP stack (Python 2)
 pyprofibus is a PROFIBUS-DP stack written in Python.


Package: python3-pyprofibus
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: PROFIBUS-DP stack (Python 3)
 pyprofibus is a PROFIBUS-DP stack written in Python.


Package: pypy-pyprofibus
Architecture: any
Depends: ${misc:Depends},
         ${pypy:Depends},
         ${shlibs:Depends}
Description: PROFIBUS-DP stack (PyPy)
 pyprofibus is a PROFIBUS-DP stack written in Python.


Package: profisniff
Architecture: any
Depends: python3-pyprofibus,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Suggests: python-pyprofibus,
          pypy-pyprofibus
Description: PROFIBUS-DP telegram sniffer (Python 3)
 PROFIBUS-DP telegram sniffer based on pyprofibus.


Package: gsdparser
Architecture: any
Depends: python3-pyprofibus,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Suggests: python-pyprofibus,
          pypy-pyprofibus
Description: PROFIBUS-DP GSD file parser (Python 3)
 PROFIBUS-DP GSD file parser based on pyprofibus.


Package: pyprofibus-linuxcnc-hal
Architecture: any
Depends: python-pyprofibus,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: PROFIBUS-DP LinuxCNC HAL module (Python 2)
 PROFIBUS-DP LinuxCNC HAL module based on pyprofibus.
